%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    Matt Jones -
    %a{ :href => 'http://github.com/al2o3cr' } github
    \-
    %a{ :href => 'http://twitter.com/al2o3cr' } @drnic
    \-
    %a{ :href => '' } Who has time for a blog?

    
    